@model IEnumerable<Carriers.Mvc.ViewModels.CarrierVm>

@{
    ViewBag.Title = "Index";
}

<h2>Avaliar Transportadoras</h2>
@if (!Model.Any())
{
    <p>
        Não possui transportadoras cadastradas para avaliar.
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @if (!item.AvaliadaPeloUsuario)
                {
                    @Html.ActionLink("Avaliar", "Create", new { id = item.Id })
                }
                else
                {
                    <p>Já foi avaliada por você</p>
                }


            </td>
        </tr>
    }

</table>
